:root {
    --color-background: #ffffff;
    --color-primary: #000000;
    --color-secondary: #2b2b2b;
    --color-text-primary: #111111;
    --color-link: #000000;
    --color-link-hover: #444444;
    --color-icon: #333333;
}