:root[data-theme='dark'] {
    --color-background: #000000;
    --color-primary: #ffffff;
    --color-secondary: #bbbbbb;
    --color-text-primary: #eeeeee;
    --color-link: #ffffff;
    --color-link-hover: #bbbbbb;
    --color-icon: #d1d5db;

}