 @use './theme';
 @use './theme_dark';

 html,
 body {
 	margin: 0;
 	margin: 0;
 	padding: 0;
 	overflow-y: scroll;
 	overflow-x: hidden;
 	display: block;
 	width: 100vw;
 	background-color: var(--color-background);
 	box-sizing: border-box;

 	cursor: none;
 }



 /* default css */
 *,
 *::before,
 *::after {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	outline: 0;
 	vertical-align: baseline;
 	box-sizing: border-box;
 	font-family: 'Inter Variable', sans-serif;
 	color: var(--color-text-primary);

 }

 html {
 	line-height: 1.15;
 	/* better text rendering */
 	-webkit-text-size-adjust: 100%;
 }

 /* Headings */
 /* Grouping content */
 hr {
 	box-sizing: content-box;
 	height: 0;
 	overflow: visible;
 }

 pre {
 	font-family: monospace, monospace;
 	font-size: 1em;
 }

 a {
 	background-color: transparent;
 	text-decoration: none;
 	color: inherit;
 }

 abbr[title] {
 	border-bottom: none;
 	text-decoration: underline dotted;
 }

 b,
 strong {
 	font-weight: bolder;
 }

 code,
 kbd,
 samp,
 tt {

 	padding: 2px 5px;
 	background-color: #f2f2f2;
 	font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
 		DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;

 }

 small {
 	font-size: 80%;
 }

 /* Forms */
 button,
 input,
 optgroup,
 select,
 textarea {
 	font-family: inherit;
 	font-size: 100%;
 	line-height: 1.15;
 	margin: 0;
 }

 button,
 input {
 	/* 1 */
 	overflow: visible;
 }

 button,
 select {
 	/* 2 */
 	text-transform: none;
 }

 /* Remove Firefox inner focus/button dims */
 ::-moz-focus-inner {
 	border: 0;
 	padding: 0;
 }

 /* Modern browsers */
 :-moz-focusring {
 	outline: auto;
 }

 /* Replace dashed outline in newer browsers */
 :-moz-ui-invalid {
 	box-shadow: none;
 }

 /* Text-level resets */
 fieldset {
 	padding: 0.35em 0.75em 0.625em;
 }

 legend {
 	box-sizing: border-box;
 	color: inherit;
 	display: table;
 	max-width: 100%;
 	white-space: normal;
 }

 /* Progress & meter */
 progress {
 	vertical-align: baseline;
 }

 textarea {
 	overflow: auto;
 }

 [type="number"]::-webkit-inner-spin-button,
 [type="number"]::-webkit-outer-spin-button {
 	height: auto;
 }

 /* Tables */
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

 td,
 th {
 	padding: 0;
 }

 /* Show scrollbars but hide the track background */
 * {
 	-ms-overflow-style: auto;
 	/* IE/Edge legacy */
 	scrollbar-width: thin;
 	/* Firefox */
 	scrollbar-color: var(--color-primary, rgba(120, 120, 120, 0.6)) transparent;
 	/* thumb | track */
 }

 *::-webkit-scrollbar {
 	width: 10px;
 	height: 10px;
 }

 *::-webkit-scrollbar-track {
 	background: transparent;
 }

 *::-webkit-scrollbar-thumb {
 	background-color: var(--color-thumb, rgba(120, 120, 120, 0.6));
 	border-radius: 8px;
 	border: 2px solid transparent;
 	/* creates spacing without showing the track */
 	background-clip: content-box;
 }