---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/NavBar.astro";
import Introduction from "../components/introduction/Introduction.astro";
---

<Layout>
        <main>
                <Navbar />
                <Welcome />
        </main>
        <Introduction />
</Layout>

<style lang="scss">
        main {
                display: flex;
                flex-direction: column;
                justify-items: center;
                width: 100vw;
                height: 100vh;
                gap: auto;
        }
</style>
