---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/NavBar.astro";
import Introduction from "../components/introduction/Introduction.astro";
import Experience from "../components/experience/Experience.astro";
---

<Layout>
        <main>
                <Navbar />
                <Welcome />
                <Introduction />
                <Experience />
        </main>
</Layout>

<style lang="scss">
        main {
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                width: 100vw;
        }
</style>
