---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import "../styles/global.scss"; // Ensure global styles are imported
import CustomCursor from "../components/react/CustomCursor";
---

<html lang="en">
        <head>
                <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        </head>
        <body>
                <CustomCursor client:load />
                <main>
                        <slot />
                </main>
                <Footer />
        </body>
</html>
